bin
include
lib
lib64
share
mysite/__pycache__/settings.cpython-36.pyc
mysite/__pycache__/wsgi.cpython-36.pyc
mysite/__pycache__/urls.cpython-36.pyc
mysite/__pycache__/__init__.cpython-36.pyc
polls/__pycache__/__init__.cpython-36.pyc
polls/__pycache__/urls.cpython-36.pyc
polls/__pycache__/views.cpython-36.pyc
